
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1485588927770'); /* IE9*/
  src: url('iconfont.eot?t=1485588927770#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1485588927770') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1485588927770') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1485588927770#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xuanzhuan:before { content: "\e600"; }

.icon-zoomout:before { content: "\e652"; }

.icon-xuanzhuan1:before { content: "\e75a"; }

.icon-plus1:before { content: "\e630"; }

.icon-layout:before { content: "\e629"; }

.icon-zoomout1:before { content: "\e664"; }

.icon-zoomin:before { content: "\e75b"; }

.icon-twzoomin01:before { content: "\e64e"; }

.icon-modify:before { content: "\e6fb"; }

.icon-modify1:before { content: "\e846"; }

.icon-layout1:before { content: "\e763"; }

.icon-suoxiao:before { content: "\e60e"; }

.icon-modify2:before { content: "\e613"; }

.icon-xuanzhuan2:before { content: "\e689"; }

.icon-modify3:before { content: "\e620"; }

.icon-xuanzhuan3:before { content: "\e723"; }

.icon-i-zoomin:before { content: "\e675"; }

.icon-zoomin1:before { content: "\e601"; }

